@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <h5>Featured Photos</h5>
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="~/Images/slide-1.jpg" alt="">

                            <div class="carousel-caption">
                                <div class="rating">
                                    <h2 class="inline">Caption 1</h2>
                                    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                                    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                                    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                                    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                                    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                                    <br>
                                    <p class="caption inline">Photo by: <a href="">Dummy</a></p>
                                    <p class="avgRating caption inline">400 Ratings</p>
                                </div>
                            </div>

                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Images/slide-2.jpg" alt="">
                            <div class="carousel-caption">
                                <div class="rating">
                                    <h2 class="inline">Caption 2</h2>
                                    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                                    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                                    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                                    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                                    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                                    <br>
                                    <p class="caption inline">Photo by: <a href="">Dummy</a></p>
                                    <p class="avgRating caption inline">678 Ratings</p>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="~/Images/slide-3.jpg" alt="">
                            <div class="carousel-caption">
                                <div class="rating">
                                    <h2 class="inline">Caption 3</h2>
                                    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                                    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                                    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                                    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                                    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                                    <br>
                                    <p class="caption inline">Photo by: <a href="">Dummy</a></p>
                                    <p class="avgRating caption inline">523 Ratings</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <!--<br>
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">Photo Folio</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>By
                        <strong>Start Bootstrap</strong>
                    </small>
                </h2>-->
            </div>
        </div>
    </div>

    <div class="row" id="topMembers">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Top Members of the week</strong>
                </h2>

                <hr>
                @for (int i = 0; i < 10; i++)
                {
                    <div class="col-md-6">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="http://placehold.it/75x75" class="img-responsive">
                                </div>
                                <div class="col-sm-9">
                                    DummyOne
                                    <br>
                                    Las Vegas, Nevada
                                    <br>
                                    Photographer | Artist | Awesome
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Beautiful boxes
                    <strong>to showcase your content</strong>
                </h2>
                <hr>
                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>
</div>